<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="error-page">
    <h1>403</h1>
    <h2>Access Denied</h2>
    <p>You don't have permission to access this page.</p>
    <a href="/" class="btn-primary">Go Home</a>
</div>

<%- include('../partials/footer') %>